.calc-container {
  width: 80vw;
  margin: auto;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(156, 156, 156);
}

.screen {
  width: 100%;
  background-color: rgb(133, 134, 147);
  text-align: right;
  height: 50px;
  font-size: 25px;
  color: white;
  line-height: 30px;
  padding: 2%;
}

.btns-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, 14vh);
}

.btns-container button {
  font-weight: 600;
  font-size: 12px;
}

.top-btn {
  border: 1px solid rgb(213, 213, 213);
  border-top: 1px solid white;
}

.side-btn {
  border: none;
  border-top: 1px solid white;
  background-color: rgb(245, 145, 62);
}

.num-btn {
  border: 1px solid rgb(213, 213, 213);
}

.zero-btn {
  grid-column-start: span 2;
  border: 1px solid rgb(213, 213, 213);
}

@media screen and (min-width: 640px) {
  .calc-container {
    width: 500px;
  }

  .btns-container {
    grid-template-rows: repeat(5, 80px);
  }
}
